<h3 id="office-manager"><strong>OFFICE MANAGER</strong></h3>
<p><strong>Posted: 10/3/2018</strong></p>
<button type="button">Apply</button>
<p><strong>Overview: </strong>GCF is seeking an energetic, organized, high-performing, and motivated individual to join our organization as the Office Manager. We are looking for someone who is passionate about social, economic and environmental justice, and recognizes the importance of administrative and operations function in supporting the overall impact of our work. Reporting to the Managing Director, the ideal candidate has prior experience providing administrative and operational assistance in a dynamic office setting. Must demonstrate ability to take initiative, coordinate with others and follow through, all while maintaining a standard of excellence in all areas of work.</p>
<p><strong>PROFESSIONAL LEVEL:</strong> Managerial</p>
<p><strong>KEY RESPONSIBILITIES</strong></p>
<ul>
<li>Maintain professional and motivating office appearance, proposing and implementing new systems to improve organization and overall efficiency</li>
<li>Manage inventory of office supplies, equipment, technology, and support procurement of new items as needed</li>
<li>Lead design and implementation of document filing and retention systems, including digital conversion and management of GCF documents</li>
<li>Liaise with building management and external vendors to support facility upkeep and operations.</li>
<li>Manage bookings of external training and meeting sites, and service as primary point of contact with external partners on all matters relating to offsite meetings</li>
<li>Provide logistics and administrative assistance to executive team, including some calendar and travel support, and credit card reimbursement documentation</li>
<li>Manage logistics of talent recruitment, including posting, reviewing, and organizing job applications, and scheduling interviews, as well as maintaining records of all applicants with potential for future positions</li>
<li>Support planning and execution of external events and meetings, including quarterly Board of Directors meetings, program graduation ceremonies,the annual Youth Summit, and staff retreats</li>
<li>Manage special projects and new initiatives on an as-needed basis</li>
</ul>
<p><strong>QUALIFICATIONS:</strong></p>
<p><strong><em>Minimum requirements:</em></strong></p>
<ul>
<li>Bachelor's degree</li>
<li>Minimum of two years' experience in office management and executive support.</li>
<li>Organized self-starter with demonstrated ability to create and implement new systems</li>
<li>Excellent ability to consistently meet deadlines, manage multiple projects simultaneously, and turn around assignments quickly without compromising quality</li>
<li>Willingness to work in a small, lean team of self-starters, and work through the weeds when crunch-time hits</li>
<li>Experience with creating project plans, setting goals and deadlines, and keeping a team on schedule to meet deadlines</li>
<li>Strong command of all Office applications</li>
<li>Excellent verbal and written communication skills</li>
<li>A strong interest in national service, sustainability, youth development, public housing and low income communities</li>
</ul>
<p><strong>COMPENSATION:</strong> This is a full time position with eligibility for benefits including paid vacation and<br />
holidays, paid sick leave, and health/dental insurance.</p>
<hr />
<button type="button">Apply</button>